.section {
    margin: 10px 0;
    background: #f4f3f3;
    box-shadow: 0 0 5px #ddd;
    width: 100%;

}

.section__header {
    border-bottom: 1px solid #ddd;
    display: grid;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    grid-template-columns: auto auto;
    grid-gap: 20px;

}

@media (max-width: 750px) {
    .section__header {
        grid-template-columns: 1fr;
    }
}

section__title {
    margin: 0;
    font-size: 20px;
}

.section__body {
    padding: 20px;
}