.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}

@media (max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.form__input {
    padding: 10px;
    border: 1px solid #ccc;
}

.form__button {
    padding: 10px;
    background: #0b6151;
    color: white;
    border: none;
    transition: 0.3s;
}

.form__button:hover {
    background: #09726e;
    transform: scale(1.1);
}


.form__button:active {
    background: #387bc7;
}