.tasks {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tasks__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.tasks__item--hidden {
    display: none;
}

.tasks__content--done {
    text-decoration: line-through;
}

.tasks__button {
    border: none;
    color: #ffffff;
    width: 30px;
    height: 30px;
    padding: 0;
    transition: background 0.3s;
}

.tasks__button--toggleDone {
    background: #28a745;
}

.tasks__button--toggleDone:hover {
    background: #218838;
}

.tasks__button--toggleDone:active {
    background: #1e7e34;
}

.tasks__button--remove {
    background: #dc3545;
}

.tasks__button--remove:hover {
    background: #c82333;
}

.tasks__button--remove:active {
    background: #bd2130;
}