.buttons {
    display: flex;
    flex-wrap: wrap;
}

.buttons__button {
    background: transparent;
    color: teal;
    border: none;
    margin: 0 0 0 20px;
    transition: color 0.3s;
}

@media (max-width: 600px) {
    .buttons__button {
        flex-basis: 100%;
        margin: 10px;
    }
}

.buttons__button:hover {
    color: darkcyan;
}

.buttons__button:disabled {
    color: #ccc;
    opacity: 0.8;
    cursor: not-allowed;
}